
/* .container {
    align-items: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
} */

.container .herovideo {
    /* filter:blur(1px); */
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.5);
    align-items: center;
    object-fit: contain;
    position: relative;
    top:0;
}


.herovideo > h1 {
    font-size: 50px;
    margin-bottom: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top:0;
}

.herovideo > p {
    margin-top: 1px;
    color:  rgb(7, 6, 7);
    font-size: 32px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    top:1;
}

/* .btns1{
    margin-top: 12px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    position: absolute;
    top: 0;
    
    transform: translate(-50%, -50%);

} */

